.main{
    display: flex;
    justify-content: space-between;
    &__img{
        width: 45%;
        height: 100vh;
        background-image: url('/images/Register-image.png');
        background-position: center;
        background-size: cover;
    }
    &__form-contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        // width: 100%;
        // height: 100vh;

        &__error{
          padding-top: 10px;
          font-size: 14px;
          color:#ee1a1a ;
          font-weight: 500;
        }

        &-logo{
            width: 151.7px;
            height: 70px;
        }
    }

}
.form{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.greeting {
    font-size: 24px;
    font-weight: 600;
    color: #1f1f1f;
  }
.dimmed-text {
    font-size: 14px;
    font-weight: normal;
    color: #8e8e8e;
    margin-top: 16px;
  }
  
  .highlighted-text {
    color: #1f1f1f;

    font-weight: 600;
  }
  
  
  .input-label {
    font-size: 14px;
    font-weight: 600;
    color: #1f1f1f;
    &__margin{
      font-size: 14px;
      font-weight: 600;
      color: #1f1f1f;
      margin-top: 24px;

    }
  }
  
  .input-box {
    margin-top: 10px;
    height: 55px;
    width: 100%;
    border-radius: 6px;
    background-color: #f2f5f8;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
  
    &__country-select {
      width: 58px;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: solid 1px #d8d8d8;
      font-size: 14px;
      font-weight: 500;
      color: #1f1f1f;
    }
  
    input {
      @extend .remove-default-input-styles;
      font-size: 14px;
      font-weight: 500;
      color: #1f1f1f;
      font-family: inherit;
    }
  }
  
  .otp-input {
    letter-spacing: 7px;
  }
  
  .submit-btn {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #b0776c;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: inherit;
  }
  
  .remove-default-input-styles {
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    background: none;
  }
  .name-field-wrapper{
    
    display: flex;
    justify-content: space-between;
    gap: 24px;

  }

  .name-field{
    width: 50%;
  }

  .otp{
    margin-top:10px;
  }

  .error-field.error-field{
    border: 1px solid #ee1a1a;
    
    input{
      color: #ee1a1a;
    }

  }