.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    font-size: 14px;
    font-family: Inter;
}
.footer-text{
    color: #b800c4;
}