.wrapper {
  height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: right;
  position: relative;
  left: 0;
}

// .corperate-service-content {
//   width: 432px;
// }

.content {
  padding-left: 162px;
  min-width: 432px;
}
