.wrapper {
  height: 900px;

  display: flex;
  gap: 28px;
  align-items: center;
  margin: auto;
}

// .corperate-service-content {
//   width: 432px;
// }

.content {
  padding-left: 162px;
  width: 432px;
}
